@charset "utf-8";

@mixin inputSetting{
  width: 100%;
  font-size: large;
  height: 30px;
  margin-bottom: 25px;
}

.signup {
  width: 500px;
  margin: 0 auto;

  .error-message {
    color: #ff3333;
  }

  form{
    margin: 25px 0;
    color: #555555;

    .email-input{
      @include inputSetting;
    }
    .name-input{
      @include inputSetting;
    }
    .password-input {
      @include inputSetting;
    }

    button{
      background-color: #242f9b;
      color: #ffffff;
      width: 100px;
      height: 40px;
      border-radius: 5px;
    }
  }
}
